img.slides_show_1 {
  height: 250px;
  margin-left: 650px;
  margin-top: 85px;
}

img.slides_show_2 {
  height: 300px;
  margin-left: 600px;
  margin-top: 85px;
}

img.slides_show_3 {
 height: 300px;
 margin-left: 600px;
 margin-top: 85px;
}

img.slides_show_4 {
  height: 300px;
  margin-left: 600px;
  margin-top: 85px;
}

img.slides_show_4 {
  height: 300px;
  margin-left: 650px;
}

img.slides_show_5 {
  height: 200px;
  margin-left: 650px;
}

img.slides_show_6 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_7 {
  display: none;
}

img.slides_show_8 {
  height: 200px;
  margin-left: 650px;
}

img.slides_show_9 {
  display: none;
}

img.slides_show_10 {
  height: 200px;
  margin-left: 650px;
}

img.slides_show_11 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_12 {
  display: none;
}

img.slides_show_13 {
  display: none; 
}

img.slides_show_14 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_15 {
  display: none; 
}

img.slides_show_16 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_17 {
  display: none;
}

img.slides_show_18 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_19 {
  display: none;
}

img.slides_show_20 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_21 {
   height: 200px;
   margin-left: 700px; 
}

img.slides_show_22 {
  display: none;
}

img.slides_show_23 {
   height: 200px;
   margin-left: 700px; 
}
