
<h3>Make your journey accross sacred land to find the missing Goblet!</h3>

<div class ='home_image'>
 <%=image_tag("backdrops/homepageimage.jpg", alt: "Example Image", class: 'homepageimage')%>
</div>