<div class="the_story">
<h1>The Story...</h1>
<h3>The Sacred Goblet has been in your village for centuries, and it's been stolen whilst the village slept!
You're job ninja, is to retrieve the goblet to bring peace and harmony back to the village. You're fellow villagers are counting on you!<br>
<%= link_to 'Get the Goblet!', '/slides/1' %>
</h3>
</div>
